<html>
  <body>
    <center>
      <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
        <h2 style="color: #292536; text-align: center">Recuperar senha</h2>
        <p>Foi solicitada uma redefinição de senha no aplicativo StudioD.</p>
        <p>Utilize a seguinte senha provisória para acessar o sistema:</p>
        <div style="margin: 20px auto; width: 180px; padding: 10px 20px; background-color: #442d52; border-radius: 5px; text-align: center; color: #fff">
          {{senha}}
        </div>
        <p>Se não foi você que fez essa solicitação, basta ignorar este email, a senha antiga continuará funcionando.</p>
      </div>
    </center>
  </body>
</html>